/world
/world_nether
/world_the_end
/logs
/cache
/libraries
/versions
/plugins/spark
/plugins/SkinsRestorer
/plugins/.paper-remapped

.console_history
banned-ips.json
banned-players.json
ops.json
help.yml
permissions.yml
start.sh
usercache.json
version_history.json
whitelist.json

/plugins/SetHome
/plugins/ChunkLoader
/plugins/SimpleLogin
/plugins/LandClaimPlugin/PlayerData
/plugins/DiscordSRV/discord-console-logs
/plugins/DiscordSRV/config.yml
/plugins/LuckPerms/
